# Numpy

Para importar numpy, utilize: import numpy as np

Você também pode utilizar: from numpy import * .Isso evitará a utilização de np., mas este comando importará todos os módulos do NumPy

Resumidamente o numpy serve para manipulação de objetos do tipo array

In [1]:
import numpy as np

Criando array com numpy. Como já vimos utilizando muito a manipulação de dados utilizando listas e dicionário. Porém, numpy permite a criação de arrays.

Criando array a partir de uma lista

In [5]:
list = [1,2,3,4,5]
array1 = np.array(list)

print(array1)

[1 2 3 4 5]

O que diferencia um array de uma lista, é que um array ele aceita apenas um tipo de dados enquanto uma lista diversos tipos. Vejamos:

In [6]:
lista = [1,2,3,4,'a','b','c']
print(lista)

[1, 2, 3, 4, 'a', 'b', 'c']

In [8]:
array = np.array(lista)
print(array) #transformou todos os elementos para string inclusive os numéricos

['1' '2' '3' '4' 'a' 'b' 'c']

Imprimindo um elemento específico de um array

In [9]:
array[0]

'1'

In [10]:
for pos in range(0, len(array)):
    print(array[pos])

1
2
3
4
a
b
c

In [11]:
for elementos in array:
    print(elementos)

1
2
3
4
a
b
c

Alterando um elemento de um array

In [12]:
array[1]

'2'

In [13]:
array[1] = 'dois'

In [14]:
array

array(['1', 'dois', '3', '4', 'a', 'b', 'c'], dtype='<U11')

In [19]:
#formas de obter o tamanho de um array

#usando len
print(len(array))

#usando shape
array.shape

7

(7,)

Criando um array usando uma função arange

In [27]:
array2 = np.arange(0, 52, 5)

array3 = np.arange(0, 10, 0.5)

In [28]:
array2

array3

array([0. , 0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. , 4.5, 5. , 5.5, 6. ,
       6.5, 7. , 7.5, 8. , 8.5, 9. , 9.5])

Verificar o tipo de dados presentes no array

In [26]:
print('Array:', array)
print('tipo:', array.dtype)
print('\nArray:', array2)
print('tipo:', array2.dtype)

Array: ['1' 'dois' '3' '4' 'a' 'b' 'c']
tipo: <U11

Array: [ 0  5 10 15 20 25 30 35 40 45 50]
tipo: int32

criando um array com elementos na diagonal

In [33]:
array3 = [1,2,3,4]
np.diag(array3)
#coloquei os elementos de um array na diagonal de outro array

array([[1, 0, 0, 0],
       [0, 2, 0, 0],
       [0, 0, 3, 0],
       [0, 0, 0, 4]])

In [36]:
#criando array de valores bolleanos
lista = [True, False, True, False]
array4 = np.array(lista)
type(array4)

numpy.ndarray

In [38]:
#criando array de strings
lista = ['Arlon','Jessica','Regina','Maria']
array5 = np.array(lista)
type(array5)

numpy.ndarray

Criando uma matriz

In [41]:
matriz = np.array([[1,2,3,4],[5,6,7,8]])
matriz

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

Obtendo o tamanho da matriz, em termos de linhas e colunas

In [43]:
matriz.shape
#(linhas, colunas)

(2, 4)

Criando uma matriz a partir de lista de listas

In [49]:
lista = [[1,2,3,4],[5,6,7,8],[9,10,11,12]]
matriz2 = np.array(lista)
print(matriz2)
matriz2.shape

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

(3, 4)

Uma observação importante, para que ocorra a construção da matriz, as listas devem possuir a mesma quantidade de colunas

In [50]:
#verificando o tipo de dados
type(matriz2)

numpy.ndarray

In [51]:
#Para verificar o tamanho de uma matriz usa-se
matriz2.size

12

In [52]:
#Porém, para verfiicar o tamanho das linhas e colunas
matriz2.shape

(3, 4)

In [53]:
#Verificando o tipo dos dados que estão dentro da matriz
matriz2.dtype

dtype('int32')

In [54]:
#Acessando um item específico de uma matriz

print(matriz2)
print(matriz2[1,2])

In [61]:
#alterando um item específico de uma matriz
matriz2[1,2] = -7
print(matriz2)

[[ 1  2  3  4]
 [ 5  6 -7  8]
 [ 9 10 11 12]]

In [66]:
#Criando uma matriz com numeros inteiros porém definindo o tipo dos dados como float
matrizfloat = np.array([[1,2,3],[4,5,6]], dtype=float)

matrizfloat

array([[1., 2., 3.],
       [4., 5., 6.]])

In [69]:
matrizfloat.shape
matrizfloat[1, 2] = matrizfloat[1, 2] * -1
matrizfloat

array([[ 1.,  2.,  3.],
       [ 4.,  5., -6.]])

# Pandas

Para poder trabalhar com Pandas, você deve conhecer bem estas duas estruturas: Series e DataFrame.

Para importar pandas, utilize: 
import pandas as pd

Você também pode utilizar: 
from pandas import Series, DataFrame

Como informado pandas trabalha com Series e DataFrame, então:

## Series


Series é um array unidimensional que contém um array de dados e um array de labels, chamado índice. Ou seja, é similar ao array do javascript.

In [72]:
#Importando Series
from pandas import Series

In [74]:
#Criando uma série apartir de uma lista sem definir índices
lista = [1,2,3,4]

objeto = Series(lista)

objeto

0    1
1    2
2    3
3    4
dtype: int64

In [75]:
type(objeto)

pandas.core.series.Series

In [76]:
objeto.values

array([1, 2, 3, 4], dtype=int64)

In [77]:
objeto.index

RangeIndex(start=0, stop=4, step=1)

In [79]:
#Criando um objeto do tipo Series definindo seus índices
objeto2 = Series([5.5, 12, 15.5, 20, 11.9], index=['Jan','Fev','Mar','Abr','Mai'])

objeto2

Jan     5.5
Fev    12.0
Mar    15.5
Abr    20.0
Mai    11.9
dtype: float64

In [80]:
objeto2.values

array([ 5.5, 12. , 15.5, 20. , 11.9])

In [81]:
objeto2.index

Index(['Jan', 'Fev', 'Mar', 'Abr', 'Mai'], dtype='object')

In [84]:
#Criando um objeto do tipo Series do tipo dicionario
dicionario = {'Janeiro':15.6, 'Fevereiro': 22.2, 'Março': 15.6, 'Abril':16.8}

objeto3 = Series(dicionario)

objeto3

Abril        16.8
Fevereiro    22.2
Janeiro      15.6
Março        15.6
dtype: float64

In [85]:
type(objeto3)

pandas.core.series.Series

In [99]:
objeto3.values

array([16.8, 22.2, 15.6, 15.6])

In [87]:
objeto3.index

Index(['Abril', 'Fevereiro', 'Janeiro', 'Março'], dtype='object')

In [94]:
#Assim como no javascript o acesso aos valores de um objeto ocorre por meio dos índices

objeto3['Janeiro']

15.6

In [98]:
for itens in objeto3.index:
    print(objeto3[itens])

16.8
22.2
15.6
15.6

## Dataframes

Dataframes representam uma estrutura tabular semelhante a estrutura de uma planilha do Excel, contendo uma coleção de colunas em que cada uma pode ser um diferente tipo de valor (número, string, etc...). Os Dataframes possuem index e linhas e esta estrutura é muito semelhante a um dataframe em R. Os dados de um dataframe são armazenados e um ou mais blocos bidimensionais, ao invés de listas, dicionários ou alguma oura estrutura de array.

In [130]:
#importando dataframes
from pandas import DataFrame

In [131]:
data = {'clientes': ['Adriano', 'Arlon', 'Bruno'],
        'Idade': [32, 23, 51],
        'Peso': [82.5, 71.5, 56]}

frame = DataFrame(data)

In [132]:
frame

   Idade  Peso clientes
0     32  82.5  Adriano
1     23  71.5    Arlon
2     51  56.0    Bruno

In [133]:
type(frame)

pandas.core.frame.DataFrame

In [134]:
data = {'Estado': ['Santa Catarina', 'Paraná', 'Goiás', 'Bahia', 'Minas Gerais'], 
        'Ano': [2002, 2003, 2004, 2005, 2006], 
        'População': [1.5, 1.7, 3.6, 2.4, 2.9]}

frame2 = DataFrame(data, columns= ['Estado', 'Ano', 'População', 'Débito'], index= ['1º','2º','3º','4º','5º'])

frame2

            Estado   Ano  População Débito
1º  Santa Catarina  2002        1.5    NaN
2º          Paraná  2003        1.7    NaN
3º           Goiás  2004        3.6    NaN
4º           Bahia  2005        2.4    NaN
5º    Minas Gerais  2006        2.9    NaN

In [135]:
#Imprimindo uma coluna do Dataframe
frame2['Estado']

1º    Santa Catarina
2º            Paraná
3º             Goiás
4º             Bahia
5º      Minas Gerais
Name: Estado, dtype: object

In [136]:
frame2['Ano']

1º    2002
2º    2003
3º    2004
4º    2005
5º    2006
Name: Ano, dtype: int64

In [137]:
frame2['População']

1º    1.5
2º    1.7
3º    3.6
4º    2.4
5º    2.9
Name: População, dtype: float64

Series nada mais é que um array de 1 dimensão. Você pode considerar um Series também como uma coluna de uma tabela.

In [139]:
objeto5 = Series(['Janeiro', 'Fevereiro', 'Março', 'Abril'], index=[1, 2, 3, 4])

objeto5

1      Janeiro
2    Fevereiro
3        Março
4        Abril
dtype: object